
*{
  margin:0;
  padding:0;
  box-sizing: border-box;

  color:#0A0F0D;
 
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  background:#F9F9F9;

  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navColor{
  background: #3D3B8E;
}

.link{
  color:#3D3B8E;
}
.link:selected{
  font-weight: bold;
}

.link:hover{
  text-decoration: underline;
  color:#3D3B8E;
  font-weight: bold;
}
.projectnav{
  color:#6883BA;
}

.projectnav:hover{
  text-decoration: underline;
  color:#6883BA;
  font-weight: bold;
}
.projectnav:selected{
  font-weight: bold;
}


.btnMoreInfo{

  margin-top:20px;
  padding:15px;
  border: none;
  background-color: #3D3B8E;
  font-weight: bolder;
}

.btnMoreInfo:hover{
 
  background-color: #6883BA;
}
#reactEmbed{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
 
}
#reactEmbed iframe{
  width: 100%;
  padding-top:20px;
  height: 500px;
}
#aboutC{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  padding-bottom: 100%;
}
#mainContainer{
  padding-bottom: 100%;
}

footer{
  color: #fff;
  background: #3D3B8E;
  text-align: center;
  padding: 20px;
  margin-top: 100%;
}