
*{
  margin:0;
  padding:0;
  box-sizing: border-box;

  color:#0A0F0D;
 
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  background:#F9F9F9;

  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navColor{
  background: #3D3B8E;
}

.link{
  color:#3D3B8E;
}
.link:selected{
  font-weight: bold;
}

.link:hover{
  text-decoration: underline;
  color:#3D3B8E;
  font-weight: bold;
}
.projectnav{
  color:#6883BA;
}

.projectnav:hover{
  text-decoration: underline;
  color:#6883BA;
  font-weight: bold;
}
.projectnav:selected{
  font-weight: bold;
}

#footerColor{
  background: #3D3B8E;
}
.caption{
 
  background:#E072A4;
  ;
}
#capt{
  background:#E072A4;
  color:#F9F9F9;
}
.slides{
  background: #6883BA;
  padding:10px;
  display:flex;
  align-content:center;
  justify-content: center;
  align-items: center;
  
}

.slides img{
  height:350px;
  
}
